node_modules
.next
.git
.gitignore
.env
.env.*
!.env.example
src/generated
.scratch
npm-debug.log*
README.md
*.md
.vscode
.idea
Dockerfile
Dockerfile.dev
docker-compose.yml
docker-compose.override.yml
.dockerignore
